---
import { Image } from 'astro:assets';
import { getCollection, render } from "astro:content";
import DatelessGallery from "../components/Dateless Gallery.astro";
import divider from "../ribbondivider.png";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import '../styles/global.css'
import PersonalBaseLayout from '../layouts/PersonalBaseLayout.astro';

const pageTitle = "Characters and Worlds";
const allWorlds = await getCollection("worlds");
const allCharas = await getCollection("characters")
---

<PersonalBaseLayout pageTitle={pageTitle}>
		<h2>Warning: Page heavily under construction</h2>
		<h1>Worlds</h1>
		<h3>The various world I've created and hold dear</h3>
			<ul role="list" class="link-card-grid-b">
				{allWorlds.map((world) => <DatelessGallery
				title={world.data.title}
				url={`../worlds/${world.id}/`}
				image={world.data.image.url}
				/>)}
				
			</ul>
		<h1>Character Catalog</h1>
		<ul role="list" class="link-card-grid-b">
				{allCharas.map((oc) => <DatelessGallery
				title={oc.data.title}
				url={`../characters/${oc.id}/`}
				image={oc.data.image.url}
				/>)}
				
			</ul>

		
		
		<script>
			import '../scripts/menu.js'
		  </script>
	
</PersonalBaseLayout>

<style>
	/*main {
		margin: auto;
		padding: 1%;
		width: 800px;
		max-width: calc(100% - 1%);
		font-size: 20px;
		line-height: 1.6;
	}
	.divider{
		display:flex;
		justify-content:center;
		margin:auto;
		text-align:center;
		width:50%;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}*/
	img {
    float:left;
	padding: 2%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
