---
import { getCollection, render } from "astro:content";
import PersonalBaseLayout from '../layouts/PersonalBaseLayout.astro';
const pageTitle = "My Games";
import Card from '../components/Card.astro';
import CollectionGallery from "../components/Collection Gallery.astro";
const allGames = await getCollection('games');
---

<PersonalBaseLayout pageTitle={pageTitle}>
		<h1>All My Games and Interactive Things Post 2024</h1>

		<ul role="list" class="link-card-grid-b">
				{allGames.sort((a,b) => {
					return Date.parse(b.data.pubDate.toLocaleDateString()) - Date.parse(a.data.pubDate.toLocaleDateString())
					}
				).map((game) => <CollectionGallery
				pubDate={game.data.pubDate}
				title={game.data.title}
				url={`../games/${game.id}/`}
				image={game.data.image.url}
				/>)}
				
			</ul>
		
		<p>
			Looking for a project that's not listed here? It's probably an older project up on my <a href="https://theartofgaming.itch.io">Itch.io</a> near the bottom!
        </p>
		<script>
			import '../scripts/menu.js'
		  </script>
	
</PersonalBaseLayout>

<style>
	/*main {
		margin: auto;
		padding: 1%;
		width: 800px;
		max-width: calc(100% - 1%);
		font-size: 20px;
		line-height: 1.6;
	}
	.divider{
		display:flex;
		justify-content:center;
		margin:auto;
		text-align:center;
		width:50%;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}*/
	img {
    float:left;
	padding: 2%;
	height: 80%;
	}
	p {
		padding-top: 1rem;
	}

</style>
